.event-holder {
  list-style: none;
  margin: 0;
  padding: 1rem 1rem 0 1rem;
}

.event {
  display: block;
  margin: 0 0 0 0;

  .event-title-holder {
    background-color: yellow;
    font-weight: bold;
    list-style: none;
    list-style-type: none;

    &.current {
      background-color: red;
    }
  }

  label {
    display: inline-block;
  }

  .datepicker__input-container {
    display: inline-block;
  }

  .deselected {
    background-color: #666;
  }

  .event-title-bar {
    display: inline-block;
  }

  .event-title-duration {
    float: right;
  }
}

.events {
  margin: 0 0 0 0;
  padding: 3rem 0 0 0;
}

.create-event {
  .event-form {
    margin-top: 1rem;

    .event {
      margin-bottom: 0.3rem;

      label {
        margin-right: 0.3rem;
      }
    }

    .event-add {
      margin-top: 0.5rem;
    }
  }

  .editableForm-item {
    margin-bottom: 0.4rem;

    .deleteItem {
      padding-bottom: 0.2rem;
    }
  }
}
