$height: 3rem;

.timeline-container {
  background-color: #333;
  box-sizing: border-box;
  height: $height;
  padding: 1rem;
  position: fixed;
  width: 100%;
}

.timeline {
  background-color: #ddd;
  height: 1rem;
  width: 80%;

  .progress-bar {
    display: inline-block;
    height: $height - 2;
  }
}
